{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
        <div class="container">
                <div class="jumbotron">
                        <h1 style="text-align: center">Bonjour et Bienvenue !</h1>
                </div>
                <p>Ce site est un outil pour mettre des passionnés de plantes en relation pour échanger leur boutures, matériel voir meme plantes entières!!</p>
                <p>Le contact entre particuliers se fait uniquement par mail ou téléphone pour le moment, en l'attente d'une messagerie interne.</p>
                <p>La bonne entente entre les membres est primordiale, je vous demanderais de rester courtois, poli et généreux envers ceux qui n'ont pas forcément beaucoup à offrir.</p>
                <p>Gardez à l'esprit que ce site est encore en construction et que beacoup de nouveautées sont à venir.</p>
                <p>Et le plus important, j'espère que vous trouverez ce philodendron rare ou cette calathéa impossible à maintenir en vie. Bons échanges :)</p>
                
                <div class="jumbotron">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/CalatheaZebrina.jpg" style="max-height: 280px; max-width: 90%">
                        <img src="https://static.wixstatic.com/media/8a3b6f_8045bd766a3f46a1ab005b1769cbab28~mv2_d_2556_2556_s_4_2.jpg/v1/fill/w_996,h_996,al_c,q_85,usm_0.66_1.00_0.01/8a3b6f_8045bd766a3f46a1ab005b1769cbab28~mv2_d_2556_2556_s_4_2.jpg" style="max-height: 280px; max-width: 90%">
                        <img src="https://live.staticflickr.com/3670/33488384822_e5a3a963ec_b.jpg" style="max-height: 280px; max-width: 100%">
                </div>
        </div>
{% endblock %}
